{% extends 'base.html' %}

{% block body %}

<h1>{{ the_title }}</h1>

<ul>
  <!-- note how items from routes in the the Python script are linked -->
  <li><a href="{{ url_for('gift_list') }}">Gift List</a></li>
  <li><a href="{{ url_for('new_gift') }}">New Gift</a></li>
  <li><a href="{{ url_for('rm_gift') }}">Remove Gift</a></li>
  <li><a href="{{ url_for('buy_gift') }}">Purchase Gift</a></li>
  <li><a href="{{ url_for('report') }}">Report</a></li>
</ul>

<img alt="Photo: Wedding Gift" src="{{ url_for('static', filename='images/img2.jpeg') }}" style="border: none; width: 100%;">

{{ table }}

{% endblock %}
